@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-primaria: #00DBD9;
    --bg-color: #ffffff;
    --bg-form: #EFEFEF;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Inter", Extra Bold Italic;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
}

/* TÍTULO */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #0B51DB;
    font-weight: bold;
}
h2 {
    color: #DB00DB;
    font-weight: bold;
}

.painel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6rem;
}

.esquerda, 
.meio, 
.direita {
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda div {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0B51DB;
    color: white;

    height: 50%;
    width: 40%;

    border-radius: 50px;
}

div a {
    font-size: 1.2rem;
    font-weight: bold;
}

.meio h1 {
    margin: 0;
}